<div class="col-md-4 themed-grid-col">
   <div class="pb-3">
      <div class="row">
         <div class="col-2 avatar">
            <a href="/" title="Home">
            <img class="img" src="/slika3.jpg">
            </a>
         </div>
      </div>
   </div>
   <div class="row ">
      <div class="col-sm-7 margin">
         <form action="/countries" method="get">
            <button type="submit" name="button" class="btn-block margin1">Countries</button>
         </form>
      </div>
      <div class="col-sm-7 margin">
         <form action="/cities" method="get">
            <button type="submit" name="button" class="btn-block margin1">Cities</button>
         </form>
      </div>
      <div class="col-sm-7 margin">
         <form action="/airports" method="get">
            <button type="submit" name="button" class="btn-block margin1">Airports</button>
         </form>
      </div>
      <div class="col-sm-7 margin">
         <form action="/airlines" method="get">
            <button type="submit" name="button" class="btn-block margin1">Airlines</button>
         </form>
      </div>
      <div class="col-sm-7 margin">
         <form action="/airplanes" method="get">
            <button type="submit" name="button" class="btn-block margin1">Airplanes</button>
         </form>
      </div>
      <div class="col-sm-7 margin">
         <form action="/timezones" method="get">
            <button type="submit" name="button" class="btn-block margin1">Timezones</button>
         </form>
      </div>
      <div class="col-sm-7 margin">
         <form action="/currencies" method="get">
            <button type="submit" name="button" class="btn-block margin1">Currencies</button>
         </form>
      </div>
      <div class="col-sm-7 margin">
         <form action="/languages" method="get">
            <button type="submit" name="button" class="btn-block margin1">Languages</button>
         </form>
      </div>
      <div class="col-sm-7 margin">
         <form action="/planyourtrip" method="get">
            <button type="submit" name="button" class="btn-block margin1">Plan Your Trip</button>
         </form>
      </div>
   </div>
</div>