<form class="form-inline margin2">
   <div class="form-group mx-sm-3 mb-2">    
      <input type="password" class="form-control" id="inputPassword2" placeholder="Search for ...">
   </div>
   <button type="submit" class="btn btn-secondary mb-2 button">Search</button>
</form>