<%- include("partials/header"); -%>
<div class="container">
   <div class="row mb-3">
      <%- include("partials/menu"); -%>
      <div class="col-md-8 themed-grid-col data">
         <h2>Travel Assistant</h2>
         <p class="note">
            Select one of the options to view the data
         </p>
         <img class="img1" src="/slika5.jpg">
      </div>
   </div>
</div>
<%- include("partials/footer"); -%>