<%- include("partials/header"); -%>
<div class="container">
   <div class="row mb-3">
      <%- include("partials/menu"); -%>
      <div class="col-md-8 themed-grid-col data">
         <h2>Travel Assistant</h2>
         <p class="note">
            Select one of the options to view the data
         </p>
         <% var arr = [0,1,2,3,4,5,6,7,8,9,10] %>
         <% var randomPicture = arr[Math.floor(Math.random() * arr.length)] %>
         <img class="img1" src="/<%= randomPicture %>.jpg">
      </div>
   </div>
</div>
<%- include("partials/footer"); -%>