<%- include("partials/header"); -%>
<div class="container">
   <div class="row mb-3">
      <%- include("partials/menu"); -%>
      <div class="col-md-8 themed-grid-col data">
         <h2>Travel Assistant</h2>
         <p class="note">
            Select an option
         </p>
         <div class="container data col-8">
            <form action="/planyourtrip1" method="get">
               <button type="submit" name="button" class="btn btn-outline-success btn-lg btn-block plan">one-way flight</button>
            </form>
            <form action="/planyourtrip2" method="get">
               <button type="submit" name="button" class="btn btn-outline-success btn-lg btn-block plan">return flight</button>
            </form>
            <form action="/planyourtrip3" method="get">
               <button type="submit" name="button" class="btn btn-outline-success btn-lg btn-block plan">multi-destination flight</button>
            </form>
            <form action="/tickets" method="get">
               <button type="submit" name="button" class="btn btn-outline-primary btn-lg btn-block plan">reserved tickets</button>
            </form>
         </div>
      </div>
   </div>
</div>
<%- include("partials/footer"); -%>