<%- include("partials/header"); -%>
<div class="container">
   <div class="row mb-3">
      <%- include("partials/menu"); -%>
      <div class="col-md-8 themed-grid-col data">
         <h2>Travel Assistant</h2>
         <p class="note red">
            Your ticket order has been saved.
         </p>
      </div>
   </div>
</div>
<%- include("partials/footer"); -%>